<html>
    <head>
        <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="http://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
       <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://cdn.datatables.net/1.10.7/css/jquery.dataTables.css">
        <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

        <script type="text/javascript" src="https://code.highcharts.com/highcharts.js"></script>

<script type="text/javascript">
function blu(){
   document.getElementById("todate").setAttribute("min", document.getElementById("fromdate").value);
}
</script>



    </head>
    <body>
      
        <div ng-app="AngularWayApp" ng-controller="AngularWayCtrl">
            <br>
         <!--  <a href = "/users/downloaduserdata" align = "center">Download Data</a> -->



          <div class = "row">
<div class = "col-md-2">
   <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
    <span></span> <b class="caret"></b>
</div>
 </div>
  <div class = "col-md-10">
<!--     <input type = "button" class = "btn btn-default" value = "Refresh" ng-click = "refresh()"></botton > -->
   <button type="button" id = "dow"  ng-click="SendData()" class="btn btn-default">Download csv</button>
          <button type="button"onclick="print()" class="btn btn-default">Print</button>
           <!--  <button type="button" ng-click="logout()" class="btn btn-default">Logout</button> -->
            <h3 ng-bind = "info"></h3>
  </div>

          </div>
       
          <!-- <button type="button"onclick="location.href='/#/logout'" class="btn btn-default">Logout</button> -->


        
<br>
<!--   <br>
From date: <input type = "date" min='1899-01-01' max='2060-10-10' id = "fromdate" ng-model = "form"  onblur = "blu()"></input>
to date: <input type = "date" min='1899-01-01' max='2000-13-13' id = "todate" ng-model = "too" ></input>
<input type = "button" class = "btn btn-default" value = "Refresh" ng-click = "refresh()"></botton >
 --><br>

<br>


</br>
            <br>
            <table  id="printTable" datatable="ng" class="table">
               <thead>
                                    <tr>
                                        <th>Food Name</th>
                                        <th>Date & Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                     <tr class="w3-hover-blue" ng-repeat="x in names | unique : '_id'">
   
                                        <td>{{ x.f}}</td>
                                         <td>{{fun(x._id)}}</td>
                                      </tr>
                                   
                                </tbody>
            </table>

            <script>
/*$(('#reportrange').data('daterangepicker').startDate).on('change',function(){
  alert("harshit")
})*/

/*$('#saveBtn').click(function(){
    console.log(startDate.format('D MMMM YYYY') + ' - ' + endDate.format('D MMMM YYYY'));
});
*/






                var app = angular.module('AngularWayApp', ['datatables']);
                app.filter('unique', function() {
                  return function(collection, primaryKey) { //no need for secondary key
                    var output = [], 
                        keys = [];
                        var splitKeys = primaryKey.split('.'); //split by period
                    angular.forEach(collection, function(item) {
                          var key = {};
                          angular.copy(item, key);
                          for(var i=0; i<splitKeys.length; i++){
                              key = key[splitKeys[i]];    //the beauty of loosely typed js :)
                          }

                          if(keys.indexOf(key) === -1) {
                            keys.push(key);
                            output.push(item);
                          }
                    });

                    return output;
                  };
              });


                app.controller('AngularWayCtrl', function($scope, $http ,$window)
                {


/*function changedateformate(today)
{

var dd = today.getDate();
var mm = today.getMonth()+1; //January is 0!
var yyyy = today.getFullYear();
 if(dd<10){
        dd='0'+dd
    } 
    if(mm<10){
        mm='0'+mm
    } 

today = yyyy+'-'+mm+'-'+dd;
return(today)
}
document.getElementById("todate").setAttribute("max", changedateformate(new Date()));
document.getElementById("fromdate").setAttribute("max", changedateformate(new Date()));
*/





                /*    $scope.logout = function () {
                       $window.localStorage.removeItem('token');
                           $http.get('/users/logout')
                            .then(function(response) {
                            window.location.assign("/")
                          }); 
                  }*/




            function urlBase64Decode(str) {
                  var output = str.replace('-', '+').replace('_', '/');
                  switch (output.length % 4) {
                      case 0:
                          break;
                      case 2:
                          output += '==';
                          break;
                      case 3:
                          output += '=';
                          break;
                      default:
                          throw 'Illegal base64url string!';
                  }
                  return window.atob(output);
              }
              function getUserFromToken(ss) {
                  var token = ss;
                  var user = {};
                  if (typeof token !== 'undefined') {
                      var encoded = token.split('.')[1];
                      user = JSON.parse(urlBase64Decode(encoded));
                  }
                  return user;
              }



/*if(getUserFromToken(localStorage.getItem('token')).role === "Admin"){
$scope.downloadbtn =true
}else{
$scope.downloadbtn =false
}*/

                    $scope.print = function(){
                     window.print();
                    }
                    $scope.fun = function(x){
                      timestamp = x.toString().substring(0,8)
                      return new Date( parseInt( timestamp, 16 ) * 1000 ).toString().split("G")[0].substring(3);
                    }


                        $scope.SendData = function () {
                            // $http.defaults.headers.common['x-access-token'] = localStorage.getItem('token');
                              //window.location ="/users/downloaduserdata"
                         $http.get("/getfood").success(function(data, status, headers, config) {
                                var anchor = angular.element('<a/>');
                                 anchor.attr({
                                     href: 'data:attachment/csv;charset=utf-8,' + encodeURI(data),
                                     target: '_blank',
                                     download: 'users.csv'
                                 })[0].click();
                            })
                        }




/*                    if(localStorage.getItem('token')){
                      var parameter = JSON.stringify(getUserFromToken(localStorage.getItem('token')));
                        $http.defaults.headers.common['x-access-token'] = localStorage.getItem('token');
                            $http.post("/users/userdata",parameter).success(function (response)
                            {
                                $scope.names = response;
                            });
                               }
                          else{
                                       window.location = "/";
                              }*/


$scope.sayhello = function(){
  alert("hello")
}
 $scope.refresh = function(){
  $scope.info = "Please wait ..."


                     // alert("hi")
                      //var p = getUserFromToken(localStorage.getItem('token'));
                      
                      //  alert(document.getElementById("fromdate").value)
                        
                     // parameter.push({"fromdate":$scope.form,"todate":$scope.to})
                  //   p["fromdate"] =document.getElementById("fromdate").value
                   //   p["todate"] =  document.getElementById("todate").value
function convert(str) {
    var date = new Date(str),
        mnth = ("0" + (date.getMonth()+1)).slice(-2),
        day  = ("0" + date.getDate()).slice(-2);
    return [ date.getFullYear(), mnth, day ].join("-");
}

var p = {}
//console.log(convert($('#reportrange').data('daterangepicker').startDate))
p["fromdate"] = convert($('#reportrange').data('daterangepicker').startDate)
p["todate"] = convert($('#reportrange').data('daterangepicker').endDate)

                    
                     var parameter = JSON.stringify(p);

                      //  $http.defaults.headers.common['x-access-token'] = localStorage.getItem('token');
                            $http.post("/getfoodByDate",parameter).success(function (response)
                            {
                                $scope.names = response;
                                $scope.info = ""
                            });




                             $http.post("/getChartData",parameter).success(function (response)
                            {
                                $scope.chartData = response;
                               // console.log($scope.chartData)
                                $scope.info = ""
                            });
 						/*$http.get("/getfood").success(function (response)
                            {
                                $scope.names = response;
                                $scope.info = ""
                            });*/
               
}





 $(function() {
//for daterange picker start code
   var start = moment().subtract(29, 'days');
   var end = moment();

    function cb(start, end) {
      //$scope.refresh()
     setTimeout(function(){$scope.refresh()
     },800)
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
    }

    $('#reportrange').daterangepicker({
        startDate: start,
        endDate: end,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment().startOf('month'), moment().endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);

    cb(start, end);
    
});

//for daterange picker End code








                });



            </script>
             <script src="angular-datatables.min.js"></script>   
        </div>
    </body>
</html>